<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<head>
        <title>Lab9-Spring</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    </head>
    <body>
        <form action="/newpost" method="POST">
            Tytuł: <input type="text" name="title" size="150"/></br>
            Treść:
            <textarea name="content" cols="150" rows="5"/></textarea>
        <br>
            <input type="submit" value="Dodaj wpis" />
        </form>
        <span th:each="bl,iter : ${blog}">
        <h2 th:text='${bl.title}'></h2>
        <p th:text='${bl.content}'></p>
        <a href="usun.html" th:href="@{/delete/{delId}(delId=${bl.id})}">Usun</a>
        </span>

    </body>
</html>